## 29 wells from Coso Field. Storaged in S3 bucket

In [4]:
import pandas as pd

#### Here an example for well 15A-17

In [18]:
well15A = pd.read_excel('s3://geotermaldata/S3FluidInclusionGasAnalysisData/COSO Field/15A-17-DOE-GDR.xls', skiprows =4)

In [19]:
well15A.head(10)

,Type,Geothermal Province,State,Field,Well ID,Sample ID,Depth (ft),AMU1,AMU2,AMU3,...,AMU171.UNKN,AMU172.UNKN,AMU173.UNKN,AMU174.UNKN,AMU175.UNKN,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN
0,Transform Extension,Sierra Nevada,California,COSO,15A-17,2202,510,0,294200,53.30,...,41.940,0,0.000,0.00,0.00,0.00,0.00,2434.00,0.0,0.0000
1,Transform Extension,Sierra Nevada,California,COSO,15A-17,2203,530,0,320600,48.95,...,48.030,0,1.089,0.00,0.00,0.00,80.84,59.98,0.0,11.4500
2,Transform Extension,Sierra Nevada,California,COSO,15A-17,2204,550,0,385400,159.40,...,0.000,0,8.628,0.00,216.50,592.60,0.00,580.30,0.0,27.6300
3,Transform Extension,Sierra Nevada,California,COSO,15A-17,2205,570,0,448600,122.90,...,25.720,0,9.448,0.00,0.00,376.70,0.00,577.80,6065.0,0.0000
4,Transform Extension,Sierra Nevada,California,COSO,15A-17,2206,590,0,293800,47.05,...,9.996,0,26.820,37.63,99.01,241.10,33.28,378.30,5696.0,1.2110
5,Transform Extension,Sierra Nevada,California,COSO,15A-17,2207,610,0,330500,56.79,...,14.240,0,0.000,0.00,0.00,52.55,128.70,0.00,0.0,0.9166
6,Transform Extension,Sierra Nevada,California,COSO,15A-17,2208,630,0,273800,37.99,...,0.000,0,0.000,0.00,0.00,255.10,0.00,0.00,0.0,0.0000
7,Transform Extension,Sierra Nevada,California,COSO,15A-17,2209,650,0,294000,32.61,...,0.000,0,0.000,0.00,0.00,0.00,104.10,19.59,7218.0,0.1796
8,Transform Extension,Sierra Nevada,California,COSO,15A-17,2210,670,0,342500,40.79,...,0.000,0,0.000,14.22,0.00,18.20,20.84,732.30,4204.0,0.0000
9,Transform Extension,Sierra Nevada,California,COSO,15A-17,2211,690,0,284100,82.84,...,0.000,0,38.610,0.00,132.40,0.00,0.00,0.00,0.0,0.0000

In [20]:
well15A.describe()

,Sample ID,AMU1,AMU2,AMU3,AMU4,AMU5,AMU6,AMU7,AMU8,AMU9,...,AMU171.UNKN,AMU172.UNKN,AMU173.UNKN,AMU174.UNKN,AMU175.UNKN,AMU176.UNKN,AMU177.UNKN,AMU178.UNKN,AMU179.UNKN,AMU180.UNKN
count,339.000000,339.0,3.390000e+02,339.000000,3.390000e+02,339.0,339.0,339.0,339.0,339.0,...,3.390000e+02,339.0,339.000000,3.390000e+02,3.390000e+02,3.390000e+02,339.000000,339.000000,3.390000e+02,339.000000
mean,2371.000000,0.0,4.365389e+05,70.990071,5.743606e+01,0.0,0.0,0.0,0.0,0.0,...,3.586068e+00,0.0,14.812354,1.891663e+00,2.269905e+01,4.601779e+01,23.815630,89.434750,3.075466e+03,2.334480
std,98.005102,0.0,1.385959e+05,47.571286,7.916333e+01,0.0,0.0,0.0,0.0,0.0,...,1.144333e+01,0.0,155.200577,5.585360e+00,7.482621e+01,1.410200e+02,274.172397,362.608949,2.618240e+04,29.753493
min,2202.000000,0.0,2.372000e+05,6.060000,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000
25%,2286.500000,0.0,3.377000e+05,36.800000,5.371000e-12,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000
50%,2371.000000,0.0,3.974000e+05,55.760000,3.077000e+01,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.000000,7.757000e-15,5.308000e-15,7.195000e-15,0.000000,0.000000,8.809000e-15,0.000000
75%,2455.500000,0.0,5.065500e+05,94.210000,7.261000e+01,0.0,0.0,0.0,0.0,0.0,...,3.304000e-07,0.0,0.074285,5.531500e-01,5.853000e-01,1.021500e+00,0.186150,0.345450,8.381500e-01,0.000122
max,2540.000000,0.0,1.123000e+06,265.400000,3.851000e+02,0.0,0.0,0.0,0.0,0.0,...,8.351000e+01,0.0,2069.000000,3.979000e+01,5.079000e+02,1.294000e+03,4983.000000,3483.000000,4.676000e+05,545.600000